/*******************************/
/*********LEADER IMAGES*********/
/*******************************/

#leadersList img,
#leadersList img.exact-match {
    width: 75px;
    height: 75px; /* Adjust this as needed */
    box-sizing: border-box; /* Include padding and border in width and height */
}

#leadersList img.exact-match {
    border: 4px solid yellow;
    padding: 0; /* Remove padding from the image */
    border-radius: 50%; /* Optional: rounded corners if needed */
}

#leadersList img:not(.exact-match) {
    padding: 4px; /* Match the border width */
}

/* Add transition effects to leader images */
#leadersList img {
    transition: border 0.3s ease, filter 0.3s ease;
    /* Transition properties for smoother changes */
}

#leadersList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 146px;
    gap: 10px;
}

.leader img {
    width: 75px;
}

.leaders-page .victory-conditions {
    margin-bottom: 20px;
}

body.leaders-page {
    text-align: center;
}

.leaders-page .main-content {
    padding-top: 65px;
}

/* Leader container style */
.leader {
    position: relative;
}

/********************************/
/*********LEADER TOOLTIP*********/
/********************************/

/* Tooltip styling */
.leader .tooltip {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    position: absolute;
    bottom: 111%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255); /* Tooltip background color */
    color: rgb(0, 0, 42); /* Tooltip text color */
    padding: 5px; /* Padding for spacing */
    border-radius: 4px; /* Rounded corners */
    z-index: 1; /* Ensure tooltip appears on top */
}

/* Tooltip arrow styling */
.leader .tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Position below the tooltip */
    left: 50%; /* Center the arrow */
    transform: translateX(-50%); /* Adjust horizontal position */
    border-width: 5px; /* Width of the arrow base */
    border-style: solid;
    border-color: white transparent transparent transparent; /* Arrow color and transparent background */
}

/* Tooltip hover effect on leader image */
.leader img:hover + .tooltip,
.leader .tooltip:hover {
    visibility: visible;
    opacity: 1;
}
