/***********************/
/*LEADERS BODY SETTINGS*/
/***********************/

.leaders-page {
    height: 100vh; /* Ensure the container takes up the full height of the viewport */
    display: flex;
    flex-direction: column; /* Use flexbox to stack elements vertically */
    margin: 0;
}

.leaders-page .main-content {
    flex: 1;
}

/***********************/
/********FOOTER*********/
/***********************/

.leaders-page footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
}

/************************************/
/*********LEADER GRID IMAGES*********/
/************************************/

#leadersList img,
#leadersList img.exact-match {
    width: 75px;
    height: 75px; /* Adjust this as needed */
    box-sizing: border-box; /* Include padding and border in width and height */
    transition: border 0.3s ease, filter 0.3s ease;
}

@media (max-width: 936px) {
    #leadersList img {
        width: 50px;
        height: auto;
    }
}

#leadersList img.exact-match {
    border: 4px solid yellow;
    padding: 0; /* Remove padding from the image */
    border-radius: 50%; /* Optional: rounded corners if needed */
}

@media (max-width: 936px) {
    #leadersList img.exact-match {
        width: 50px;
        height: auto;
        border: 2px solid yellow;
    }
}

#leadersList img:not(.exact-match) {
    padding: 4px; /* Match the border width */
}

#leadersList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    flex: 1;
    padding-right: 10px;
    overflow-y: auto;
    max-height: 476px;
    max-width: 70%;
}

@media (max-width: 768px) {
    #leadersList {
        max-width: 86%;
    }
}

.leader img {
    width: 75px;
    cursor: pointer;
}

.leaders-page .victory-conditions {
    margin-bottom: 20px;
}

body.leaders-page {
    text-align: center;
}

.leaders-page .main-content {
    padding-top: 65px;
}

/* Leader container style */
.leader {
    position: relative;
}

/********************************/
/*CONTAINERS FOR BOTH CONTAINERS*/
/********************************/

/* Parent container to make child containers appear side by side */
.leader-containers {
    display: flex;
    justify-content: space-evenly; /* Optional: adjust how the leader and civ images are spaced */
    align-items: flex-start; /* Align items to the top */
}

/**********************/
/*RIGHT HAND CONTAINER*/
/**********************/

/* Style for the right-hand container */
.rightHandContainer {
    flex-basis: 390px;
    height: 500px;
    overflow-y: scroll;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
    padding-top: 22px;
    display: block;
}

@media (max-width: 936px) {
    .rightHandContainer {
        flex-basis: 230px;
        display: none;
    }
}

/* Leader and Civ Container */
.leader-civ-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

/********************/
/*VICTORY CONTAINERS*/
/********************/

/* Tooltip CSS */
.tooltip {    
    transition: all 0.3s ease-in-out;
}

.victory-image-container .tooltip {
    font-size: 14px;
}

.rightHandContainer p {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Style for the victory images containers */
.victory-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.primary-victories-container,
.secondary-victories-container {
    align-items: center;
    justify-content: space-around;
}

.primary-victories-container img, 
.secondary-victories-container img
{
    width: 62px;
}

@media (max-width: 936px) {
    .primary-victories-container img, 
    .secondary-victories-container img
    {
        width: 50px;
    }
     
}

/**************************************/
/*LEADER IMAGE IN RIGHT-HAND CONTAINER*/
/**************************************/

.leader-civ-container img{
    width: 86px;
    height: auto;
}

@media (max-width: 936px) {
    .leader-civ-container img {
        width: 58px;
        border-radius: 60%;
    }
}

.leader-civ-container h2 {
    font-size: 18px;
    white-space: normal;
    word-wrap: break-word;
    max-width: 90px;
}

@media (max-width: 936px) {
    .leader-civ-container h2 {
        font-size: 12px;
    }
}

/*********************/
/*CIV-IMAGE-CONTAINER*/
/*********************/

.civ-image-container img{
    border-radius: 70%;
}

/***********************/
/*MODAL VIEW FOR MOBILE*/
/***********************/

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgb(0,0,0); /* Black background */
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

.modal-content {
    background-color: #1b1b1b;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Adjust the width as needed */
    max-width: 600px; /* Max width */
}

.close {
    color: #ffffff;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
