/**********************************/
/*******LINKS TO OTHER PAGES*******/
/**********************************/


.link-text {
    text-align: left;
    font-size: 30px;
}

.link-text a {
    color: #ffffff;
    text-decoration: none;
}

/* Hovered link styles */
.link-text a:hover {
    color: #c3ff00;
    transition: 0.3s;
}

/* Active link styles (when clicked) */
a:active {
    color: #8b0000;
}

p {
    margin: 24px 0px;
}

body {
    background-color: rgb(0, 0, 42);
    color: white;
    font-family: Arial, sans-serif;
    margin: 56px;
    font-size: 14px;
}

/**********************************/
/**************WONDERS*************/
/**********************************/

body.wonders-page {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tier-description {
    margin: 12px 0px;
}

/* Media query for larger screens */
@media (min-width: 1200px) {
    body.wonders-page {
        margin: 36px;
        /* Adjust the margin value as needed */
    }

    .main-content {
        margin: 0px 262px;
    }
}

/* Media query to make images smaller for smaller screens*/
@media screen and (max-width: 1110px) {
    .checkbox-label img {
        width: 50px;
        /* Adjust the width for smaller screens */
    }

    .wonder-container img {
        width: 50px;
        /* Adjust the width for smaller screens */
    }

    body {
        font-size: 14px;
    }

    .link-text {
        font-size: 18px;
    }

}

img {
    max-width: 100%;
    height: auto;
    transition: filter 0.3s;
    width: 70px;
}

.wonder-container {
    position: relative;
    display: inline-block;
}

/* Add these styles for the tooltip with arrow */
.tooltip {
    visibility: hidden;
    background-color: #f6f6f6;
    color: #000000;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
    /* Center the tooltip horizontally */
}

.tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #f6f6f6 transparent transparent transparent;
}

.wonder-container:hover .tooltip {
    visibility: visible;
}

/* This is for the wonders. */
.lit-up {
    filter: brightness(125%);
}

.dimmed {
    filter: brightness(40%);
}

.victory-conditions {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.wonder {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

/* Hide default checkboxes */
.victory-conditions input[type="checkbox"] {
    display: none;
}

#wondersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

/**********************************/
/*********CHECKBOX LABELS**********/
/**********************************/


/* Style the custom checkboxes using labels */
.checkbox-label {
    display: inline-block;
    cursor: pointer;
    margin: 0px 20px;
    transition: filter 0.3s;
}

.checkbox-label img {
    object-fit: cover;
    border-radius: 5px;
    transition: filter 0.3s;
}

/**********************************/
/*********CIVILIZATIONS************/
/**********************************/


#civilizationsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#civilizationsList img {
    width: 50px;
    margin: 5px; /* Set the margin to create a gap */
    object-fit: cover;
    border-radius: 5px;
    display: inline-block;
    border: 2px solid transparent; /* Add transparent border by default */
    transition: all 0.3s; /* Add a transition for smooth changes */
}

/* Define styles for each checkbox state */
.checkbox-label input:checked+img {
    filter: brightness(120%);
    /* Adjust brightness for checked state */
}

.checkbox-label input:not(:checked)+img {
    filter: brightness(35%);
    /* Adjust brightness for unchecked state */
}

.civilization img.exact-match {
    transform: scale(1.5); /* Scale up for emphasis */
}