/*****************************/
/**********HOMEPAGE***********/
/*****************************/

.homepage-link {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange links in a column */
    align-items: center; /* Center the links horizontally */
    justify-content: center; /* Optionally, center the links vertically within the container */
    height: 100vh; /* Full viewport height (optional, adjust as needed) */
    /* Add other styles as needed */
}

/* Styling the links */
.homepage-link a {
    display: block; /* Treat links as block elements */
    margin: 10px 0; /* Space between the links */
    text-decoration: none; /* Remove underline from links */
    color: black; /* Set link color */
    padding: 10px; /* Optional: add padding for better spacing */
    font-size: 1.2rem; /* Adjust the font size */
    border-radius: 4px; /* Optional: rounding the corners of links */
    font-size: 2rem; /* Adjust font size as desired */
    text-align: center; /* Center the text within the link */
}

/* Remove the body margin only on the homepage */
.homepage-body {
    margin: 0; /* Remove margin */
}

/**********************************/
/*******LINKS TO OTHER PAGES*******/
/**********************************/

.link-text {
    text-align: left;
    font-size: 30px;
}

.link-text a {
    color: #ffffff;
    text-decoration: none;
}

/* Hovered link styles */
.link-text a:hover {
    color: #ffff00;
    transition: 0.3s ease-in-out;
}

/**********************************/
/************MAIN BODY*************/
/**********************************/

p {
    margin: 24px 0px;
}

body {
    background-color: rgb(0, 0, 42);
    color: white;
    font-family: Arial, sans-serif;
    margin: 56px;
    font-size: 14px;
}

/**********************************/
/**************WONDERS*************/
/**********************************/

body.wonders-page {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Change the cursor to a pointer when hovering over the wonder images */
.wonder-container img {
    cursor: pointer; /* This will change the cursor to a pointer icon */
}

/* Apply yellow highlight when hovering over the wonder images */
.wonder-container img:hover {
    filter: brightness(0.9) sepia(1) saturate(10) hue-rotate(25deg);
}

.tier-description {
    margin: 12px 0px;
}

/* Main container to hold both the wonders list and the description container */
.mainContainer {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Adjust spacing between wonders list and description container */
    height: 100%; /* Make sure the main container takes up the full height of the page */
}

/* Style the wonders list */
#wondersList {
    border-radius: 12px;
    outline: 2px solid #ffffff33;
    padding: 5px; /* Optional: Add padding for spacing */
    width: 65%; /* Adjust the width of the wonders list as needed */
    height: 100%; /* Make sure the wonders list takes up the full height of the parent container */
    overflow-y: auto; /* Allow scrolling if there are many wonders */
    padding-right: 10px; /* Add padding to the right side */
}

/* Style the description container */
#descriptionContainer {
    border-radius: 12px;
    outline: 2px solid #ffffff33;
    width: 30%; /* Adjust the width as needed */
    float: right; /* Float the container to the right */
    padding: 10px; /* Add padding for spacing */
    background-color: #00002a; /* Set the background color */
    color: rgb(255, 255, 255); /* Set the text color to white */
}

/* Victory conditions container styles */
.victory-conditions-container {
    margin-top: 10px; /* Adjust top margin as needed */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center images in the container */
    gap: 10px; /* Add space between images */
    align-items: center; /* Center items vertically */
}

/* Image styles within victory conditions container */
.victory-conditions-container img {
    margin: 0px 5px; /* Add margin between images */
    position: relative; /* Position tooltip relative to the image */
}

/* Tooltip styling */
.victory-conditions-container .tooltip {
    visibility: hidden; /* Hide tooltip by default */
    position: absolute; /* Position tooltip relative to the image */
    z-index: 1; /* Ensure tooltip is on top */
    background-color: #f6f6f6; /* Tooltip background color */
    color: #000; /* Tooltip text color */
    padding: 5px; /* Add padding */
    border-radius: 5px; /* Add rounded corners */
    top: 100%; /* Position tooltip directly below the image */
    left: 50%; /* Center tooltip horizontally */
    transform: translateX(-50%); /* Center the tooltip */
    white-space: nowrap; /* Prevent wrapping */
    opacity: 0; /* Start with the tooltip hidden */
    transition: opacity 0.3s; /* Smooth transition for showing tooltip */
}

/* Show tooltip when hovering over the image */
.victory-conditions-container img:hover + .tooltip {
    visibility: visible; /* Make tooltip visible */
    opacity: 1; /* Make tooltip fully opaque */
}


/* Media query for larger screens */
@media (min-width: 1200px) {
    /* Style the description container */
    #descriptionContainer {
        line-height: 1.5; /* Adjust the line height value as needed */
        font-size: 18px; /* Adjust the font size as needed for larger screens */
    }
}

/* Media query for larger screens */
@media (min-width: 1341px) {
    body.wonders-page {
        margin: 56px;
        /* Adjust the margin value as needed */
    }

    .civilization img {
        width: 50px;
    }

}

@media (max-width: 985px) {
    #civilizationsList {
        margin: 0px;
    }
}

/* Media query to make images smaller for smaller screens*/
@media screen and (max-width: 1340px) {
    .checkbox-label img {
        width: 50px;
        /* Adjust the width for smaller screens */
    }

    .wonder-container img {
        width: 50px;
        /* Adjust the width for smaller screens */
    }

    body {
        font-size: 14px;
    }

    .link-text {
        font-size: 18px;
    }

    .civilization img {
        width: 40px;
    }

}

img {
    max-width: 100%;
    height: auto;
    width: 70px;
}

.wonder-container {
    position: relative;
    display: inline-block;
}

/* This is for the wonders. */
.lit-up {
    filter: brightness(125%);
}

.dimmed {
    filter: brightness(40%);
}

.victory-conditions {
    margin: 42px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.wonder {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

/* Hide default checkboxes */
.victory-conditions input[type="checkbox"] {
    display: none;
}

#wondersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

/**********************************/
/*********VICTORY TYPES**********/
/**********************************/

/* Style the custom checkboxes using labels */
.checkbox-label {
    display: inline-block;
    cursor: pointer;
    margin: 0px 20px;
    transition: filter 0.3s;
}

.checkbox-label img {
    object-fit: cover;
    border-radius: 5px;
    transition: filter 0.3s;
}

/* Define styles for each checkbox state */
.checkbox-label input:checked+img {
    filter: brightness(120%);
    /* Adjust brightness for checked state */
}

.checkbox-label input:not(:checked)+img {
    filter: brightness(35%);
    /* Adjust brightness for unchecked state */
}

.checkbox-label:hover .tooltip {
    visibility: visible; /* Show tooltip when hovering over the label */
    opacity: 1;
    text-align: center;
}

.checkbox-label .tooltip {
    visibility: hidden; /* Hide tooltip by default */
    /* Additional tooltip styles */
}

/**********************************/
/*********CIVILIZATIONS************/
/**********************************/

/**********************************/
/* Grid of Civs */
/**********************************/

#civilizationsList {
    display: flex;
    justify-content: center; /* Center images in the container */
    align-items: center; /* Align images vertically */
    flex-wrap: wrap; /* Wrap images in rows */
    margin: 0px 146px; /* Maintain consistent margin */
    min-height: 200px; /* Reserve space for images */
}

#civilizationsList img {
    margin: 5px; /* Maintain consistent margin */
    object-fit: cover;
    border-radius: 50%; /* Maintain circular shape */
    display: inline-block;
    border: 2px solid transparent; /* Transparent border by default */
    position: relative;
}

/* Define the scale increments based on the number of victory conditions met */
#civilizationsList img[data-matched-victories="1"] {
    transform: scale(1.2); /* Scale up slightly for 1 victory */
    filter: brightness(110%); /* Increase brightness slightly */
}

#civilizationsList img[data-matched-victories="2"] {
    transform: scale(1.4); /* Scale up more for 2 victories */
    filter: brightness(120%); /* Increase brightness more */
}

#civilizationsList img[data-matched-victories="3"] {
    transform: scale(1.6); /* Scale up further for 3 victories */
    filter: brightness(130%); /* Increase brightness further */
}

#civilizationsList img[data-matched-victories="4"] {
    transform: scale(1.8); /* Scale up the most for 4 victories */
    filter: brightness(140%); /* Increase brightness the most */
}

/******************************************/
/* If the exact victory types are matched */
/******************************************/


/* This is for the civilizations. */
#civilizationsList .exact-match {
    border: 4px solid yellow;
}

/**********************************/
/*Displaying civ names when hovered*/
/**********************************/

/* Add these styles for the tooltip with arrow on the civilizations page */

.civilization {
    position: relative;
    width: 120px; /* Reserve space for the maximum size image */
    height: 120px; /* Reserve space for the maximum size image */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

.civilization img:hover + .tooltip,
.civilization .tooltip:hover {
    visibility: visible;
    opacity: 1;
}

.civilization .tooltip {
    visibility: hidden;
    background-color: #f6f6f6;
    color: #000000;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
    /* Center the tooltip horizontally */
}

.civilization .tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #f6f6f6 transparent transparent transparent;
}
